<br><br><br>

<div id="listing" class="list">
  <h2><%= t(".Your Listing(s) ") %></h2>

  <%= render partial: 'index' %>
</div>

<div id="listing" class="list">
  <h2><%= t(".Create your Listing ") %></h2>

  <%= render partial: 'form' %>
</div>

<!-- render partial: 'form' -->
<!-- We dont need to put /listings/form -->
<!-- Provided the form is in the same table -->

