<ul>
<h4> Please confirm your reservation </h4>

<div id="listing_reservations" >
<table style="width:50%">
  <tr>
  	<th> Listing Name </th>
    <th> Start Date </th>   
    <th> End Date </th>
  </tr>

  <tr>
  	<td><%= @listing.listing_name %></td>
    <td><%= @reservation.start_date %></td>    
    <td><%= @reservation.end_date %></td>
  </tr>
  </table>
</div><br>

<%= link_to 'Pay Now', payments_new_path + "?id=" + @reservation.id.to_s %>

</ul>
<!-- generate a secure_token attached to reservation -->
<!-- secure random generate a random string -->
<!-- pass it on  -->

<!-- purchases/payment db table -->
<!-- reservation_id, braintree_transaction_id, last_4_digits,  -->

<!-- after user click pay, redirect to purchases/payment new -->
<!-- we print out the start date, end date and let user pay -->